

#body{
 position:absolute;
 width: 550px;
 height: 550px;
 left: 50%;
 top: 50%;
 margin-left: -275px;
 margin-top: -275px;

 -moz-box-shadow: 2px 2px 3px 3px #454140;
 -webkik-box-shadow:2px 2px 3px 3px #454140;
 box-shadow: 2px 2px 3px 3px;
}
#subbody{
 position:absolute;
 width: 550px;
 height: 550px;
 left: 50%;
 top: 50%;
 margin-left: -275px;
 margin-top: -275px;
 background-color: white;
 -moz-box-shadow: 2px 2px 3px 3px #454140;
 -webkik-box-shadow:2px 2px 3px 3px #454140;
 box-shadow: 2px 2px 3px 3px;
}
button{
 width: 150px;
 height: 150px;
 border: none;
 position: absolute;
 font-size: 100px;
 color:white;
}
.clicked{
 background-color: gray;
}
.buttons{
 background-color: #454140;
}
.buttons:HOVER {
 background-color: #FFB60F;
}
#b11{
 top:25px;
 left:25px;
}
#b12{
 top:25px;
 left:200px;
}
#b13{
 top:25px;
 left:375px;
}
#b21{
 top:200px;
 left:25px;
}
#b22{
 top:200px;
 left:200px;
}
#b23{
 top:200px;
 left:375px;
}
#b31{
 top:375px;
 left:25px;
}
#b32{
 top:375px;
 left:200px;
}
#b33{
 top:375px;
 left:375px;
}
#detallesJuego{
 position:absolute;
 width: 220px;
 height: 220px;
 left: 5%;
 top: 0%;
 margin-left: 0px;
 margin-top: 0px;
}